// Переменные фоновых цветов
$bgColor: #20242b;
$bgColor1: rgb(47, 51, 58);
$bgColor2: rgb(21, 43, 80);
$bgColor3: #000;
$borderColor: rgb(57, 59, 62);

// Переменные состояний текста
$textColor: #abb2bf;
$activeTextColor: #ff9501;
$tech: #f8ab06;
$err: #fb0404;

// Переменные отступов
$padding: padding 10px;
$margin: margin 10px;
$marginTop: margin-top 50px;

body {
  font-family: "Courier New", Courier, monospace;
  max-width: 1920px;
  color: $textColor;
  background-color: $bgColor;
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  display: flex;
}

.header {
  display: flex;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: fixed;
  background-color: #16171a;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  &__logo {
    margin-left: 25px;
    width: 50px;
    height: 50px;
  }
}

a {
  text-decoration: none;
  padding: 10px;
  color: #f8ab06;
  border-radius: 10px;
}

a:hover {
  transition: .3s ease-in-out;
  background-color: #f8ab06;
  color: white;
}

.stop_link {
  margin-left: 50px;
  padding: 15px;
}

.timer_link {
  padding: 15px;
}

.round__wrapper {
  position: relative;
  left: 10px;
  top: 10px;
  padding: 10px;
  &__input {
    display: block;
    padding: 10px;
  }
}

.stopwatch-wrapper {
  margin: auto;
  user-select: none;
}

.stopwatch {
  display: flex;
  margin-top: 100px;
  &__block {
    width: 120px;
    margin: auto;
    justify-content: center;
    padding: 5px;
    @media (width: 500px) {
        .stopwatch__block {
            display: flexbox;
        }
    }
    .time {
      background-color: $bgColor3;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      font-size: 25px;
    }
    .label {
      background-color: $bgColor3;
      border-bottom: none;
      color: $tech;
      padding: 5px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      text-align: center;
      font-size: 12px;
    }
  }
}

.buttons {
  cursor: pointer;
  display: flex;
  margin: 20px auto;
  border: none;
  .btn {
    font-family: "Courier New", Courier, monospace;
    color: $textColor;
    background: $bgColor1;
    user-select: none;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    width: 120px;
    transition: 0.3s ease-in-out;
    &.start {
      &:hover {
        background-color: $bgColor2;
        color: white;
      }
    }
    &.stop {
        color: $err;
      &:hover {
        background-color: $err;
        color: white;
      }
    }
    &.pause {
        color: $tech;
      &:hover {
        background-color: $tech;
        color: white;
      }
    }
    &.new {
      &:disabled {
        background: none;
        cursor: not-allowed;
        color: $err;
      }
      &:enabled {
        &:hover {
            background-color: $bgColor2;
            color: white;
          }
      }
    }
    &.select {
      &:hover {
        background-color: $bgColor2;
        color: white;
      }
    }
  }
}

// Timer


