$bgColor: rgb(32, 36, 43);
$bgColor1: rgb(47, 51, 58);
$bgColor2: rgb(21, 43, 80);
$borderColor: rgb(57, 59, 62);
$textColor: #abb2bf;
$activeTextColor: #ff9501;
$tech: #f8ab06;
$err: #fb0404;

body {
  font-family: "Courier New", Courier, monospace;
  color: $textColor;
  background-color: $bgColor;
  margin: 0;
  padding: auto;
  box-sizing: border-box;
}

.stopwatch-wrapper {
  max-width: 1024px;
  height: 100%;
  margin: auto;
  margin-top: 150px;
  user-select: none;
}

.stopwatch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__block {
    width: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .time {
      background-color: $bgColor;
      border: 1px solid $borderColor;
      border-bottom: none;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
      font-size: 50px;
    }
    .label {
      background-color: $bgColor2;
      border: 1px solid $borderColor;
      border-top: none;
      padding: 5px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
    }
  }
}

.buttons {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-width: 800px;
  margin: 0 auto;
  margin-top: 150px;
  .btn {
    font-family: "Courier New", Courier, monospace;
    color: $textColor;
    background: $bgColor1;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    width: 180px;
    transition: 0.3s ease-in-out;
    &.start {
      &:hover {
        background-color: $bgColor2;
        color: white;
      }
    }
    &.stop {
      &:hover {
        background-color: $err;
        color: white;
      }
    }
    &.pause {
      &:hover {
        background-color: $tech;
        color: white;
      }
    }
    &.new {
      &:disabled {
        background: none;
        cursor: not-allowed; 
        color: $err;
      }
      &:enabled {
        &:hover {
            background-color: $bgColor2;
            color: white;
          }
      }
    }
  }
}

.round__wrapper {
  position: absolute;
  left: 15px;
  bottom: 0;
  width: 250px;
  border: 1px solid $tech;
  border-bottom: none;
  color: $textColor;
  font-size: 18px;
  padding: 15px;
  text-align: center;
}
